body {
	background-color: black;
	font-family: 'Leo Arrow';
	font-weight: normal;
	font-style: normal; 
	color: #e95a22;
}
	
label, input {
  display: inline-block;
}

label.login {
  color: #e95a22;
  min-width: 125px;
  
}

.placeholder {
	color: gold;
}

.pageRegister {
	position: absolute;
	padding-left: 30px;
	padding-top: 40px;
}

.registrationForm {
	position: relative;
	color: #e95a22;
	height: 100%;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
}

.formField {
	float: right;
}

.formFieldText {
	float: right;
	width: 100%;
}


div.page {
	position: relative;
}

a {
  color: #e95a22;
  text-decoration: none;
}

a:hover {
  color: white;
  position: relative;
}

#registration {
	position: relative;
	float: right;
 }
 
#register {
	float: right;
	padding-left: 10px;
 }
 

img#logo {
	display: block;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}

.writing {
	color: #e95a22;
	position: absolute;
}

.header {
	position: relative;
	max-height: 65px;
	padding-bottom: 0px;
}

#castTable {
	border-spacing: 15px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: inline-block; 
	padding: 8px;
}

.castCrew {
	display:none;
	position:absolute;
	border-style: none;
	padding: 5px;
	height: 200px;
	width: 350px;
}

.ui-datepicker {
	background-color: white;
	font: arial "sans-serif";
	border: 1px solid grey;
}

a.menubarbtn {
	outline: none;
}

div#menubar {
	position: relative;
	display: table;
	font-family: 'Leo Arrow';
	font-weight: normal;
	font-style: normal; 
	float: left;
	padding-top:65px;
	padding-left: 100px;
}
#currentFrame {
	float: left;
	min-height: 490px;
	width: 100%;
	position: relative;
	clear: both;
}

div#menubar ul li {
	display: inline; 
	padding: 8px;
}

.castCrew img.backgroundImage{
	display: block;
	max-width: 350px;
	width: auto;
	height: auto;
}
	
.footer {
	clear: both;
}
#logout {
	padding-left: 10px;	
}

.creditsContainer {
	position: relative;
}

img#background {
	display: block;
	max-height: 490px;
	width: auto;
	height: auto;
}

img#credits {
	display: block;
    max-height:150px;
    width: auto;
    height: auto;
}